# Supabase Configuration (Get these from your Supabase Dashboard)
NEXT_PUBLIC_SUPABASE_URL=https://ikciatrploqznijspyuk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlrY2lhdHJwbG9xem5panNweXVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3OTU5NDAsImV4cCI6MjA5MzM3MTk0MH0.XemsBIWij8rZ6LZLtkeVeXawoaFZU4gVguVDFt2wnx4
NEXT_PUBLIC_ADMIN_EMAILS=l47idkpro@gmail.com
# Use your Shared App URL here for production, or Development App URL for testing
NEXT_PUBLIC_APP_URL=https://jmc-sjs.org
SUPABASE_SERVICE_ROLE_KEY=sb_secret_p7ZIUn3tTNMYFl_zeB69CQ_Dtfb65Ke

# Email Configuration
# Option A: Brevo API (Recommended)
BREVO_API_KEY=xkeysib-your-long-api-key-here

# Option B: SMTP Fallback (Works with Brevo SMTP, Gmail, etc.)
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=9e1e10001@smtp-brevo.com
SMTP_PASS=xsmtpsib-3147d3168a5c281faf38458b35b22be7889369e0e4621c272db528aadf0612ef-DG0v5T0fzNckeW03
SMTP_FROM_NAME="Josephite Math Club"
SMTP_FROM_EMAIL="mathclub@sjs.edu.bd"
